In [1]:
import os
import json
import pandas as pd
from datetime import datetime, time

def is_time_between_6_and_8(timestamp):
    t = datetime.strptime(timestamp, "%H-%M-%S").time()
    return time(6, 0, 0) <= t <= time(8, 0, 0)

def read_json_data(filepath):
    with open(filepath, 'r') as f:
        data = json.load(f)
    return data

speed_band_data = []
root_folder = r"D:\OneDrive\OneDrive - Nanyang Technological University\Desktop\NTU Student Life\Year 4\FYP\Speedbands\September"
# Iterate through folders in the root folder
for folder_name in os.listdir(root_folder):
    if folder_name.startswith("speed-"):
        folder_path = os.path.join(root_folder, folder_name)
        date_obj = folder_name[6:]

        # Iterate through files in the folder
        for filename in os.listdir(folder_path):
            if filename.endswith(".json") and " - Copy" not in filename:
                timestamp = filename[:-5]
                try:
                    if is_time_between_6_and_8(timestamp):
                        file_path = os.path.join(folder_path, filename)
                        data = read_json_data(file_path)
                        
                        for item in data:
                            row = {
                                'date': date_obj,
                                'Time': timestamp,
                                'LinkID': item['LinkID'],
                                'RoadName': item['RoadName'],
                                'RoadCategory': item['RoadCategory'],
                                'SpeedBand': item['SpeedBand'],
                                'MinimumSpeed': item['MinimumSpeed'],
                                'MaximumSpeed': item['MaximumSpeed'],
                                'Location': item['Location']
                            }
                            speed_band_data.append(row)
                except ValueError as e:
                    print(f"Error: {e}, Filename: {filename}")

# Convert the data to a pandas DataFrame and display it
rawspeed_df = pd.DataFrame(speed_band_data)
rawspeed_df

,date,Time,LinkID,RoadName,RoadCategory,SpeedBand,MinimumSpeed,MaximumSpeed,Location
0,2022-09-01,06-03-22,103000000,KENT ROAD,E,4,30,39,1.3170142376560023 103.85298052044503 1.316684...
1,2022-09-01,06-03-22,103000010,BUCKLEY ROAD,E,2,10,19,1.3166507852203482 103.84102305136321 1.316912...
2,2022-09-01,06-03-22,103000011,BUCKLEY ROAD,E,2,10,19,1.316912438354752 103.84022564204443 1.3166507...
3,2022-09-01,06-03-22,103000014,SHREWSBURY ROAD,E,5,40,49,1.3186726294030418 103.84700267615683 1.318021...
4,2022-09-01,06-03-22,103000015,SHREWSBURY ROAD,E,5,40,49,1.3180212058893457 103.84711392225329 1.318672...
...,...,...,...,...,...,...,...,...,...
32335283,2022-09-28,07-57-09,117000671,WOODLANDS SECTOR 2,C,6,50,59,1.4605954861677752 103.8092915537452 1.4609072...
32335284,2022-09-28,07-57-09,117000674,WOODLANDS AVENUE 10,C,4,30,39,1.461077477013782 103.8102700220811 1.46075009...
32335285,2022-09-28,07-57-09,117000675,WOODLANDS AVENUE 10,C,3,20,29,1.461077477013782 103.8102700220811 1.46136068...
32335286,2022-09-28,07-57-09,117000678,WOODLANDS AVENUE 10,C,6,50,59,1.4613606859884667 103.81012544254958 1.461077...
32335287,2022-09-28,07-57-09,117000679,WOODLANDS AVENUE 10,C,3,20,29,1.4607500991003515 103.8104326729758 1.4610774...

In [2]:
filteredspeed_df = rawspeed_df[(rawspeed_df['RoadName'] == 'PAN ISLAND EXPRESSWAY') ]
filteredspeed_df

,date,Time,LinkID,RoadName,RoadCategory,SpeedBand,MinimumSpeed,MaximumSpeed,Location
29,2022-09-01,06-03-22,103000078,PAN ISLAND EXPRESSWAY,A,8,70,999,1.3479138498233316 103.6923894384768 1.3491170...
30,2022-09-01,06-03-22,103000079,PAN ISLAND EXPRESSWAY,A,7,60,69,1.3491170726830268 103.69342360283092 1.347913...
31,2022-09-01,06-03-22,103000080,PAN ISLAND EXPRESSWAY,A,8,70,999,1.3436196253925365 103.78499221155269 1.343144...
48,2022-09-01,06-03-22,103000122,PAN ISLAND EXPRESSWAY,A,8,70,999,1.350438528643087 103.69440892471033 1.3517801...
49,2022-09-01,06-03-22,103000123,PAN ISLAND EXPRESSWAY,A,7,60,69,1.3517801862142893 103.69536755921838 1.350438...
...,...,...,...,...,...,...,...,...,...
32333960,2022-09-28,07-57-09,115000336,PAN ISLAND EXPRESSWAY,F,5,40,49,1.3329723955422337 103.76342970083786 1.333758...
32335068,2022-09-28,07-57-09,117000002,PAN ISLAND EXPRESSWAY,A,6,50,59,1.339143430149792 103.9747625390361 1.33985041...
32335069,2022-09-28,07-57-09,117000003,PAN ISLAND EXPRESSWAY,A,8,70,999,1.3398504107917306 103.97311185921735 1.339143...
32335072,2022-09-28,07-57-09,117000024,PAN ISLAND EXPRESSWAY,F,8,70,999,1.3387736443102318 103.97618119422671 1.338294...
32335073,2022-09-28,07-57-09,117000028,PAN ISLAND EXPRESSWAY,F,8,70,999,1.3393867622146272 103.9748408621742 1.3387736...

In [3]:
import os
import json
import pandas as pd
from datetime import datetime, time

def read_json_data(file_path):
    with open(file_path, 'r') as file:
        data = json.load(file)
    return data

def is_time_between_6_and_8(timestamp):
    t = datetime.strptime(timestamp, "%H-%M-%S").time()
    return time(6, 0, 0) <= t <= time(8, 0, 0)

traffic_incidents_data = []

root_folder = "D:\\OneDrive\\OneDrive - Nanyang Technological University\\Desktop\\NTU Student Life\\Year 4\\FYP\\TrafficIncidents"

for folder_name in os.listdir(root_folder):
    folder_path = os.path.join(root_folder, folder_name)
    
    if os.path.isdir(folder_path):
        date = datetime.strptime(folder_name, "%Y-%m-%d").date()
        
        for filename in os.listdir(folder_path):
            if filename.endswith(".json") and " - Copy" not in filename:
                timestamp = filename[:-5]
                if is_time_between_6_and_8(timestamp):
                    file_path = os.path.join(folder_path, filename)
                    data = read_json_data(file_path)
                    
                    for item in data:
                        item['date'] = date
                        item['Time'] = timestamp  # Added time information
                        traffic_incidents_data.append(item)

df_traffic_incidents = pd.DataFrame(traffic_incidents_data)
df_traffic_incidents

,Type,Latitude,Longitude,Message,date,Time
0,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,06-45-47
1,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,06-50-47
2,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,06-55-47
3,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,07-00-47
4,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,07-05-47
...,...,...,...,...,...,...
9404,Heavy Traffic,1.401171,103.878085,(30/9)7:44 Heavy Traffic on TPE (towards SLE) ...,2022-09-30,07-58-19
9405,Vehicle breakdown,1.343999,103.785861,(30/9)7:43 Vehicle breakdown on PIE (towards C...,2022-09-30,07-58-19
9406,Heavy Traffic,1.313074,103.804277,(30/9)7:34 Heavy Traffic on Farrer Road (towar...,2022-09-30,07-58-19
9407,Heavy Traffic,1.355944,103.963224,(30/9)7:31 Heavy Traffic on TPE (towards PIE) ...,2022-09-30,07-58-19
9408,Vehicle breakdown,1.285245,103.837451,(30/9)6:28 Vehicle breakdown in CTE Tunnel (to...,2022-09-30,07-58-19

In [4]:
unique_types = df_traffic_incidents['Type'].unique()
print(unique_types)

['Accident' 'Heavy Traffic' 'Roadwork' 'Vehicle breakdown' 'Obstacle'
 'Unattended Vehicle' 'Road Block']

In [5]:
filteredtraffic_df = df_traffic_incidents[df_traffic_incidents['Type'] != 'Heavy Traffic']
filteredtraffic_df

,Type,Latitude,Longitude,Message,date,Time
0,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,06-45-47
1,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,06-50-47
2,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,06-55-47
3,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,07-00-47
4,Accident,1.290587,103.826025,(1/6)6:42 Accident on Alexandra Road towards L...,2022-06-01,07-05-47
...,...,...,...,...,...,...
9401,Road Block,1.290512,103.862918,(30/9)7:47 Road Closure on Raffles Avenue (tow...,2022-09-30,07-58-19
9402,Road Block,1.286488,103.853768,(30/9)7:46 Road Closure on Esplanade Drive (to...,2022-09-30,07-58-19
9403,Road Block,1.289552,103.850836,(30/9)7:46 Road Closure on Parliament Place (t...,2022-09-30,07-58-19
9405,Vehicle breakdown,1.343999,103.785861,(30/9)7:43 Vehicle breakdown on PIE (towards C...,2022-09-30,07-58-19
9408,Vehicle breakdown,1.285245,103.837451,(30/9)6:28 Vehicle breakdown in CTE Tunnel (to...,2022-09-30,07-58-19

In [6]:
import pandas as pd
import numpy as np
from math import radians, cos, sin, asin, sqrt
from geopy.distance import great_circle

#This block of code remove the road that have traffic incidents in it. The condition is within 5mins and within a radius of 500m.
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    return c * 6371 * 1000

def within_threshold(lat1, lon1, lat2, lon2, threshold):
    return haversine(lat1, lon1, lat2, lon2) <= threshold

def time_difference_within_5_minutes(t1, t2):
    delta = abs(pd.to_datetime(t1) - pd.to_datetime(t2))
    return delta <= pd.Timedelta(minutes=5)

# Convert the Location column to a list of lists of coordinates (lat, lon) tuples
filteredspeed_df['Coordinates'] = filteredspeed_df['Location'].apply(lambda x: [tuple(map(float, coord.split())) for coord in x.split(', ')])

# Pre-filtering: Select only rows where dates match
dates_match = filteredspeed_df['date'].isin(filteredtraffic_df['date'])
pre_filtered_speed = filteredspeed_df[dates_match]

# Perform the optimized filtering
filtered_indexes = set()
for idx, row in filteredtraffic_df.iterrows():
    matching_speed_rows = pre_filtered_speed[
        (pre_filtered_speed['date'] == row['date']) &
        (pre_filtered_speed['Time'].apply(lambda x: time_difference_within_5_minutes(x, row['Time'])))
    ]
    for speed_idx, speed_row in matching_speed_rows.iterrows():
        if any(within_threshold(row['Latitude'], row['Longitude'], coord[0], coord[1], 500) for coord in speed_row['Coordinates']):
            filtered_indexes.add(speed_idx)

# Remove the matched rows from the filteredspeed_df
filteredspeed_df = filteredspeed_df.drop(filtered_indexes)

# Update the Coordinates column to include both starting and ending coordinates
filteredspeed_df.loc[:, 'Coordinates'] = filteredspeed_df['Location'].apply(lambda x: [tuple(map(float, coord.split())) for coord in x.split(', ')])

filteredspeed_df

C:\Users\dodoc\AppData\Local\Temp\ipykernel_65540\3179133922.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredspeed_df['Coordinates'] = filteredspeed_df['Location'].apply(lambda x: [tuple(map(float, coord.split())) for coord in x.split(', ')])

,date,Time,LinkID,RoadName,RoadCategory,SpeedBand,MinimumSpeed,MaximumSpeed,Location,Coordinates
29,2022-09-01,06-03-22,103000078,PAN ISLAND EXPRESSWAY,A,8,70,999,1.3479138498233316 103.6923894384768 1.3491170...,"[(1.3479138498233316, 103.6923894384768, 1.349..."
30,2022-09-01,06-03-22,103000079,PAN ISLAND EXPRESSWAY,A,7,60,69,1.3491170726830268 103.69342360283092 1.347913...,"[(1.3491170726830268, 103.69342360283092, 1.34..."
31,2022-09-01,06-03-22,103000080,PAN ISLAND EXPRESSWAY,A,8,70,999,1.3436196253925365 103.78499221155269 1.343144...,"[(1.3436196253925365, 103.78499221155269, 1.34..."
48,2022-09-01,06-03-22,103000122,PAN ISLAND EXPRESSWAY,A,8,70,999,1.350438528643087 103.69440892471033 1.3517801...,"[(1.350438528643087, 103.69440892471033, 1.351..."
49,2022-09-01,06-03-22,103000123,PAN ISLAND EXPRESSWAY,A,7,60,69,1.3517801862142893 103.69536755921838 1.350438...,"[(1.3517801862142893, 103.69536755921838, 1.35..."
...,...,...,...,...,...,...,...,...,...,...
32333960,2022-09-28,07-57-09,115000336,PAN ISLAND EXPRESSWAY,F,5,40,49,1.3329723955422337 103.76342970083786 1.333758...,"[(1.3329723955422337, 103.76342970083786, 1.33..."
32335068,2022-09-28,07-57-09,117000002,PAN ISLAND EXPRESSWAY,A,6,50,59,1.339143430149792 103.9747625390361 1.33985041...,"[(1.339143430149792, 103.9747625390361, 1.3398..."
32335069,2022-09-28,07-57-09,117000003,PAN ISLAND EXPRESSWAY,A,8,70,999,1.3398504107917306 103.97311185921735 1.339143...,"[(1.3398504107917306, 103.97311185921735, 1.33..."
32335072,2022-09-28,07-57-09,117000024,PAN ISLAND EXPRESSWAY,F,8,70,999,1.3387736443102318 103.97618119422671 1.338294...,"[(1.3387736443102318, 103.97618119422671, 1.33..."
32335073,2022-09-28,07-57-09,117000028,PAN ISLAND EXPRESSWAY,F,8,70,999,1.3393867622146272 103.9748408621742 1.3387736...,"[(1.3393867622146272, 103.9748408621742, 1.338..."

In [7]:
import os
import json
import pandas as pd
from datetime import datetime

folder_path = r"D:\OneDrive\OneDrive - Nanyang Technological University\Desktop\NTU Student Life\Year 4\FYP\Rainfall Data"

def parse_rainfall_data(file_path):
    with open(file_path, 'r') as file:
        data = json.load(file)
    
    stations = data["metadata"]["stations"]
    timestamp_list = []
    station_data_list = []
    
    for item in data['items']:
        timestamp = datetime.fromisoformat(item['timestamp'].replace('+08:00', ''))
        for reading in item['readings']:
            station_data = reading.copy()
            station_data['timestamp'] = timestamp
            
            # Add station details to the station_data
            for station in stations:
                if station["id"] == station_data["station_id"]:
                    station_data["name"] = station["name"]
                    station_data["latitude"] = station["location"]["latitude"]
                    station_data["longitude"] = station["location"]["longitude"]
                    break
            
            station_data_list.append(station_data)
    
    return station_data_list

all_rainfall_data = []
for file_name in os.listdir(folder_path):
    if not file_name.endswith(".txt") and not file_name.endswith(".json"):
        file_path = os.path.join(folder_path, file_name)
        all_rainfall_data.extend(parse_rainfall_data(file_path))

rainfall_df = pd.DataFrame(all_rainfall_data)
rainfall_df

,station_id,value,timestamp,name,latitude,longitude
0,S77,0.0,2022-06-01 00:05:00,Alexandra Road,1.29370,103.81250
1,S109,0.0,2022-06-01 00:05:00,Ang Mo Kio Avenue 5,1.37640,103.84920
2,S90,0.0,2022-06-01 00:05:00,Bukit Timah Road,1.31910,103.81910
3,S114,0.0,2022-06-01 00:05:00,Choa Chu Kang Avenue 4,1.38000,103.73000
4,S50,0.0,2022-06-01 00:05:00,Clementi Road,1.33370,103.77680
...,...,...,...,...,...,...
4221018,S69,0.0,2022-12-31 23:55:00,Upper Peirce Reservoir Park,1.37000,103.80500
4221019,S08,0.0,2022-12-31 23:55:00,Upper Thomson Road,1.37010,103.82710
4221020,S116,0.0,2022-12-31 23:55:00,West Coast Highway,1.28100,103.75400
4221021,S104,0.0,2022-12-31 23:55:00,Woodlands Avenue 9,1.44387,103.78538
4221022,S100,0.0,2022-12-31 23:55:00,Woodlands Road,1.41720,103.74855

In [8]:
# Convert the timestamp column to a pandas datetime object
rainfall_df['timestamp'] = pd.to_datetime(rainfall_df['timestamp'])

# Filter the DataFrame to only include rows between 6 AM and 8 AM
filtered_rainfall_df = rainfall_df[(rainfall_df['timestamp'].dt.hour >= 6) & (rainfall_df['timestamp'].dt.hour < 8)]

# Display the filtered DataFrame
filtered_rainfall_df

,station_id,value,timestamp,name,latitude,longitude
4757,S77,0.0,2022-06-01 06:00:00,Alexandra Road,1.29370,103.81250
4758,S109,0.0,2022-06-01 06:00:00,Ang Mo Kio Avenue 5,1.37640,103.84920
4759,S90,0.0,2022-06-01 06:00:00,Bukit Timah Road,1.31910,103.81910
4760,S114,0.0,2022-06-01 06:00:00,Choa Chu Kang Avenue 4,1.38000,103.73000
4761,S50,0.0,2022-06-01 06:00:00,Clementi Road,1.33370,103.77680
...,...,...,...,...,...,...
4207504,S69,0.0,2022-12-31 07:55:00,Upper Peirce Reservoir Park,1.37000,103.80500
4207505,S08,0.0,2022-12-31 07:55:00,Upper Thomson Road,1.37010,103.82710
4207506,S116,0.0,2022-12-31 07:55:00,West Coast Highway,1.28100,103.75400
4207507,S104,0.0,2022-12-31 07:55:00,Woodlands Avenue 9,1.44387,103.78538
4207508,S100,0.0,2022-12-31 07:55:00,Woodlands Road,1.41720,103.74855

In [9]:
# Split the timestamp column into date and Time columns
filtered_rainfall_df['date'] = filtered_rainfall_df['timestamp'].dt.strftime('%Y-%m-%d')
filtered_rainfall_df['Time'] = filtered_rainfall_df['timestamp'].dt.strftime('%H-%M-%S')

# Remove extra columns
filtered_rainfall_df.drop(columns=['timestamp'], inplace=True)

filtered_rainfall_df['Location'] = filtered_rainfall_df.apply(lambda row: f"({row.latitude}, {row.longitude})", axis=1)
filtered_rainfall_df.drop(columns=['latitude','longitude'], inplace=True)

# Check the updated dataframe
filtered_rainfall_df

C:\Users\dodoc\AppData\Local\Temp\ipykernel_65540\1093213215.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rainfall_df['date'] = filtered_rainfall_df['timestamp'].dt.strftime('%Y-%m-%d')
C:\Users\dodoc\AppData\Local\Temp\ipykernel_65540\1093213215.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rainfall_df['Time'] = filtered_rainfall_df['timestamp'].dt.strftime('%H-%M-%S')
C:\Users\dodoc\AppData\Local\Temp\ipykernel_65540\1093213215.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rainfall_df.drop(columns=['timestamp'], inplace=True)
C:\Users\dodoc\AppData\Local\Temp\ipykernel_65540\1093213215.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rainfall_df['Location'] = filtered_rainfall_df.apply(lambda row: f"({row.latitude}, {row.longitude})", axis=1)
C:\Users\dodoc\AppData\Local\Temp\ipykernel_65540\1093213215.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rainfall_df.drop(columns=['latitude','longitude'], inplace=True)

,station_id,value,name,date,Time,Location
4757,S77,0.0,Alexandra Road,2022-06-01,06-00-00,"(1.2937, 103.8125)"
4758,S109,0.0,Ang Mo Kio Avenue 5,2022-06-01,06-00-00,"(1.3764, 103.8492)"
4759,S90,0.0,Bukit Timah Road,2022-06-01,06-00-00,"(1.3191, 103.8191)"
4760,S114,0.0,Choa Chu Kang Avenue 4,2022-06-01,06-00-00,"(1.38, 103.73)"
4761,S50,0.0,Clementi Road,2022-06-01,06-00-00,"(1.3337, 103.7768)"
...,...,...,...,...,...,...
4207504,S69,0.0,Upper Peirce Reservoir Park,2022-12-31,07-55-00,"(1.37, 103.805)"
4207505,S08,0.0,Upper Thomson Road,2022-12-31,07-55-00,"(1.3701, 103.8271)"
4207506,S116,0.0,West Coast Highway,2022-12-31,07-55-00,"(1.281, 103.754)"
4207507,S104,0.0,Woodlands Avenue 9,2022-12-31,07-55-00,"(1.44387, 103.78538)"
4207508,S100,0.0,Woodlands Road,2022-12-31,07-55-00,"(1.4172, 103.74855)"

In [10]:
import pandas as pd

# Assuming filteredspeed_df is your DataFrame
# Drop the 'Coordinates' column
filteredspeed_df.drop(columns=['Coordinates'], inplace=True)

# Create a function to extract start and end location
def extract_locations(location_str):
    start_lat, start_lng, end_lat, end_lng = map(float, location_str.split())
    return pd.Series([(start_lat, start_lng), (end_lat, end_lng)])

# Create 'start_location' and 'end_location' columns
filteredspeed_df[['start_location', 'end_location']] = filteredspeed_df['Location'].apply(extract_locations)

# Drop the 'Location' column
filteredspeed_df.drop(columns=['Location'], inplace=True)

# Check the updated DataFrame
filteredspeed_df

,date,Time,LinkID,RoadName,RoadCategory,SpeedBand,MinimumSpeed,MaximumSpeed,start_location,end_location
29,2022-09-01,06-03-22,103000078,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.3479138498233316, 103.6923894384768)","(1.3491170726830268, 103.69342360283092)"
30,2022-09-01,06-03-22,103000079,PAN ISLAND EXPRESSWAY,A,7,60,69,"(1.3491170726830268, 103.69342360283092)","(1.3479138498233316, 103.6923894384768)"
31,2022-09-01,06-03-22,103000080,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.3436196253925365, 103.78499221155269)","(1.3431444683048892, 103.78388724345461)"
48,2022-09-01,06-03-22,103000122,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.350438528643087, 103.69440892471033)","(1.3517801862142893, 103.69536755921838)"
49,2022-09-01,06-03-22,103000123,PAN ISLAND EXPRESSWAY,A,7,60,69,"(1.3517801862142893, 103.69536755921838)","(1.350438528643087, 103.69440892471033)"
...,...,...,...,...,...,...,...,...,...,...
32333960,2022-09-28,07-57-09,115000336,PAN ISLAND EXPRESSWAY,F,5,40,49,"(1.3329723955422337, 103.76342970083786)","(1.3337580137074072, 103.7620812510051)"
32335068,2022-09-28,07-57-09,117000002,PAN ISLAND EXPRESSWAY,A,6,50,59,"(1.339143430149792, 103.9747625390361)","(1.3398504107917306, 103.97311185921735)"
32335069,2022-09-28,07-57-09,117000003,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.3398504107917306, 103.97311185921735)","(1.339143430149792, 103.9747625390361)"
32335072,2022-09-28,07-57-09,117000024,PAN ISLAND EXPRESSWAY,F,8,70,999,"(1.3387736443102318, 103.97618119422671)","(1.3382945440631218, 103.97719894282493)"
32335073,2022-09-28,07-57-09,117000028,PAN ISLAND EXPRESSWAY,F,8,70,999,"(1.3393867622146272, 103.9748408621742)","(1.3387736443102318, 103.97618119422671)"

In [11]:
import numpy as np
import pandas as pd
from sklearn.neighbors import BallTree

def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in km
    dLat = np.radians(lat2 - lat1)
    dLon = np.radians(lon2 - lon1)
    a = np.sin(dLat/2) * np.sin(dLat/2) + np.cos(np.radians(lat1)) * np.cos(np.radians(lat2)) * np.sin(dLon/2) * np.sin(dLon/2)
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    d = R * c
    return d

# Prepare the data
start_locations = np.array([np.array(loc, dtype=float) for loc in filteredspeed_df['start_location'].values.tolist()])
end_locations = np.array([np.array(loc, dtype=float) for loc in filteredspeed_df['end_location'].values.tolist()])
rainfall_locations = np.array([eval(loc) for loc in filtered_rainfall_df['Location'].values], dtype=float)

# Create a BallTree using the haversine metric
tree = BallTree(np.radians(rainfall_locations), metric='haversine')

# Calculate the nearest neighbor for start and end locations
start_indices = tree.query(np.radians(start_locations), return_distance=False)
end_indices = tree.query(np.radians(end_locations), return_distance=False)

# Flatten the indices arrays
start_indices = start_indices.flatten()
end_indices = end_indices.flatten()

# Find the nearest station for each pair of start and end locations
start_distances = np.array([haversine(start_locations[i, 0], start_locations[i, 1], rainfall_locations[start_indices[i], 0], rainfall_locations[start_indices[i], 1]) for i in range(start_locations.shape[0])])
end_distances = np.array([haversine(end_locations[i, 0], end_locations[i, 1], rainfall_locations[end_indices[i], 0], rainfall_locations[end_indices[i], 1]) for i in range(end_locations.shape[0])])
nearest_station_indices = np.where(start_distances < end_distances, start_indices, end_indices)

# Add the 'nearest_station' column to the filteredspeed_df DataFrame
filteredspeed_df['nearestrainfall_station'] = filtered_rainfall_df.iloc[nearest_station_indices]['station_id'].values

filteredspeed_df

,date,Time,LinkID,RoadName,RoadCategory,SpeedBand,MinimumSpeed,MaximumSpeed,start_location,end_location,nearestrainfall_station
29,2022-09-01,06-03-22,103000078,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.3479138498233316, 103.6923894384768)","(1.3491170726830268, 103.69342360283092)",S228
30,2022-09-01,06-03-22,103000079,PAN ISLAND EXPRESSWAY,A,7,60,69,"(1.3491170726830268, 103.69342360283092)","(1.3479138498233316, 103.6923894384768)",S228
31,2022-09-01,06-03-22,103000080,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.3436196253925365, 103.78499221155269)","(1.3431444683048892, 103.78388724345461)",S50
48,2022-09-01,06-03-22,103000122,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.350438528643087, 103.69440892471033)","(1.3517801862142893, 103.69536755921838)",S228
49,2022-09-01,06-03-22,103000123,PAN ISLAND EXPRESSWAY,A,7,60,69,"(1.3517801862142893, 103.69536755921838)","(1.350438528643087, 103.69440892471033)",S228
...,...,...,...,...,...,...,...,...,...,...,...
32333960,2022-09-28,07-57-09,115000336,PAN ISLAND EXPRESSWAY,F,5,40,49,"(1.3329723955422337, 103.76342970083786)","(1.3337580137074072, 103.7620812510051)",S35
32335068,2022-09-28,07-57-09,117000002,PAN ISLAND EXPRESSWAY,A,6,50,59,"(1.339143430149792, 103.9747625390361)","(1.3398504107917306, 103.97311185921735)",S224
32335069,2022-09-28,07-57-09,117000003,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.3398504107917306, 103.97311185921735)","(1.339143430149792, 103.9747625390361)",S224
32335072,2022-09-28,07-57-09,117000024,PAN ISLAND EXPRESSWAY,F,8,70,999,"(1.3387736443102318, 103.97618119422671)","(1.3382945440631218, 103.97719894282493)",S224
32335073,2022-09-28,07-57-09,117000028,PAN ISLAND EXPRESSWAY,F,8,70,999,"(1.3393867622146272, 103.9748408621742)","(1.3387736443102318, 103.97618119422671)",S224

In [12]:
filtered_rainfall_df

,station_id,value,name,date,Time,Location
4757,S77,0.0,Alexandra Road,2022-06-01,06-00-00,"(1.2937, 103.8125)"
4758,S109,0.0,Ang Mo Kio Avenue 5,2022-06-01,06-00-00,"(1.3764, 103.8492)"
4759,S90,0.0,Bukit Timah Road,2022-06-01,06-00-00,"(1.3191, 103.8191)"
4760,S114,0.0,Choa Chu Kang Avenue 4,2022-06-01,06-00-00,"(1.38, 103.73)"
4761,S50,0.0,Clementi Road,2022-06-01,06-00-00,"(1.3337, 103.7768)"
...,...,...,...,...,...,...
4207504,S69,0.0,Upper Peirce Reservoir Park,2022-12-31,07-55-00,"(1.37, 103.805)"
4207505,S08,0.0,Upper Thomson Road,2022-12-31,07-55-00,"(1.3701, 103.8271)"
4207506,S116,0.0,West Coast Highway,2022-12-31,07-55-00,"(1.281, 103.754)"
4207507,S104,0.0,Woodlands Avenue 9,2022-12-31,07-55-00,"(1.44387, 103.78538)"
4207508,S100,0.0,Woodlands Road,2022-12-31,07-55-00,"(1.4172, 103.74855)"

In [13]:
filteredspeed_df

,date,Time,LinkID,RoadName,RoadCategory,SpeedBand,MinimumSpeed,MaximumSpeed,start_location,end_location,nearestrainfall_station
29,2022-09-01,06-03-22,103000078,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.3479138498233316, 103.6923894384768)","(1.3491170726830268, 103.69342360283092)",S228
30,2022-09-01,06-03-22,103000079,PAN ISLAND EXPRESSWAY,A,7,60,69,"(1.3491170726830268, 103.69342360283092)","(1.3479138498233316, 103.6923894384768)",S228
31,2022-09-01,06-03-22,103000080,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.3436196253925365, 103.78499221155269)","(1.3431444683048892, 103.78388724345461)",S50
48,2022-09-01,06-03-22,103000122,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.350438528643087, 103.69440892471033)","(1.3517801862142893, 103.69536755921838)",S228
49,2022-09-01,06-03-22,103000123,PAN ISLAND EXPRESSWAY,A,7,60,69,"(1.3517801862142893, 103.69536755921838)","(1.350438528643087, 103.69440892471033)",S228
...,...,...,...,...,...,...,...,...,...,...,...
32333960,2022-09-28,07-57-09,115000336,PAN ISLAND EXPRESSWAY,F,5,40,49,"(1.3329723955422337, 103.76342970083786)","(1.3337580137074072, 103.7620812510051)",S35
32335068,2022-09-28,07-57-09,117000002,PAN ISLAND EXPRESSWAY,A,6,50,59,"(1.339143430149792, 103.9747625390361)","(1.3398504107917306, 103.97311185921735)",S224
32335069,2022-09-28,07-57-09,117000003,PAN ISLAND EXPRESSWAY,A,8,70,999,"(1.3398504107917306, 103.97311185921735)","(1.339143430149792, 103.9747625390361)",S224
32335072,2022-09-28,07-57-09,117000024,PAN ISLAND EXPRESSWAY,F,8,70,999,"(1.3387736443102318, 103.97618119422671)","(1.3382945440631218, 103.97719894282493)",S224
32335073,2022-09-28,07-57-09,117000028,PAN ISLAND EXPRESSWAY,F,8,70,999,"(1.3393867622146272, 103.9748408621742)","(1.3387736443102318, 103.97618119422671)",S224

In [14]:
#filteredspeed_df.to_csv("Septemberspeed_df.csv", index=False)